{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Registrar Tipos de Producto{% endblock %}

{% block content %}
    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption"><i class="icon-list"></i>Registro de Tipo de Producto</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="clearfix">
                <div class="btn-group">
                    <a href="{{ path('config_producttype') }}" class="btn green">
                        Volver al listado
                    </a>
                </div>
            </div>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
