<div class="home-concept">
	<div class="container">

		<div class="row center">
			<span class="sun"></span>
			<span class="cloud"></span>
			<div class="span2 offset1">
				<div class="process-image">
					<img src="img/home-concept-item-1.png" alt="" />
					<strong>Strategy</strong>
				</div>
			</div>
			<div class="span2">
				<div class="process-image">
					<img src="img/home-concept-item-2.png" alt="" />
					<strong>Planning</strong>
				</div>
			</div>
			<div class="span2">
				<div class="process-image">
					<img src="img/home-concept-item-3.png" alt="" />
					<strong>Build</strong>
				</div>
			</div>
			<div class="span4 offset1">
				<div class="project-image">
					<div id="fcSlideshow" class="fc-slideshow">
						<ul class="fc-slides">
							<li><a href="portfolio-single-project.html"><img src="img/projects/project-home-1.jpg" /></a></li>
							<li><a href="portfolio-single-project.html"><img src="img/projects/project-home-2.jpg" /></a></li>
						</ul>
					</div>
					<strong class="our-work">Our Work</strong>
				</div>
			</div>
		</div>

		<hr class="tall" />

	</div>
</div>