.brands-item{

}

.brands-item img{
    padding-bottom: 20px;
    padding-top: 20px;
    height: 100px;
    width: 150px;
}

.img_product{
    height: 100px;
    width: 150px;
}

.search_product{
    margin-top: 10px;
}
.search_content{
    background-color:  rgba(0,0,0,.15);
}

 .back-link{
 	position: absolute;
 	top: 30%;
 	left: 95%;
 }

  .back-link a{
 	text-align: center;
 	font-size: 14pt;
 	color: white;
 }