#form-register, #form-sign-in-account, #form-password{
	margin: 0 auto; 
	max-width: 400px;
}

.inputcaptcha-group{
	text-align: left;
}

.inputcaptcha{
	width: 50% !important;
}

.imgcaptcha{
	border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 2px 10px;
    
}

.alert-box {
    color:#555;
    border-radius:5px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 10px;
    margin:10px 0px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    /*  background:#ffecec url('assets/img/error.png') no-repeat 10px 50%; */
    background:#ffecec;
    border:1px solid #f5aca6;
}
.success {
    /*  background:#e9ffd9 url('assets/img/success.png') no-repeat 10px 50%; */
    background:#e9ffd9;
    border:1px solid #a6ca8a;
}
.warning {
    /*  background:#fff8c4 url('assets/img/warning.png') no-repeat 10px 50%; */
    background:#fff8c4;
    border:1px solid #f2c779;
}
.notice {
    /*  background:#e3f7fc url('assets/img/notice.png') no-repeat 10px 50%; */
    background:#e3f7fc;
    border:1px solid #8ed9f6;
}